<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/snake.css">
    <script src="scripts/snake.js" defer></script>
    <title>Block</title>
  </head>
  <body>

    <h1>Block - just another unfinished project of mine</h1>

    <div id="wrapper">
      <div id ="polje">
        <div id="element"></div>
      </div>

      <div id="gumbi">
        <button class="gumb0" onclick="levo()">left</button>
        <button class="gumb0" onclick="desno()">right</button>
        <button class="gumb0" onclick="gor()">up</button>
        <button class="gumb0" onclick="dol()">down</button>
      </div>

    </div>
  </body>
</html>
